langchain-openai==0.2.11
langchain-community>=0.0.27
langgraph>=0.0.25
python-dotenv==1.0.0
openai==1.56.2
chromadb==0.4.24
unstructured==0.11.2
tiktoken>=0.7.0
pypdf==4.0.1
pdf2image==1.17.0
pdfminer.six==20231228
beautifulsoup4==4.12.3
requests==2.31.0
selenium==4.18.1
webdriver-manager==4.0.1
streamlit==1.32.2
deep-translator>=1.11.4
bs4
